.container {
  margin-top: 3rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.image {
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin-right: 0.5rem;
  cursor: pointer;
  border-radius: 0.3rem;

  @media only screen and (max-width: 600px) {
    height: 60px;
    width: 60px;
  }

  transition: all .1s ease-in-out;

  &:hover {
    transform: scale(1.2);
    padding: 1rem;
  }
}
