@use "../../App.scss";

.container {
  padding: 2rem 1.5rem;
  // background-color: App.$primaryBG;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  & p:first-child {
    font-weight: bold;

    @media only screen and (max-width: 600px){
      font-size: .8rem;
    }
  }

  & p:last-child {
    text-align: center;
    color: #707070;
    font-size: .8rem;
  }

  a {
    text-decoration: none;
    &:visited {
      color: #d4a500;
    }
    &:hover {
      color: black;
    }
  }
}
