@use "../../App.scss";

.container {
  padding: 1rem 1.5rem;
  background-color: #ffe899;
  box-shadow: #ffe899 0px 1px 3px 0px,
    #ffe382 0px 0px 0px 1px;

  & p:first-child {
    font-weight: bold;

    @media only screen and (max-width: 600px) {
      font-size: 0.8rem;
    }
  }

  & p:last-child {
    text-align: center;
    color: #d4ac28;
    font-size: 0.8rem;

    @media only screen and (max-width: 600px) {
      margin-top: 1rem;
      color: #d4ac28;
    }
  }

  a {
    text-decoration: none;
    &:visited {
      color: #d4ac28;
    }
    &:hover {
      color: #ffc500;
    }
  }
}
