@use "../../App.scss";

.container {
  margin-top: 6rem;
  padding-bottom: 3rem;
  margin-bottom: 3rem;

  > div {
    padding: 2rem;
    border-radius: 1rem;
    background-color: App.$primary;
  }
  > p {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}

.grid_container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: space-evenly;

  > div {
    @media only screen and (max-width: 600px) {
      grid-column: 1/-1;
    }
  }

  li {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}
